.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-main {
    width: auto;
    height: 100%;
}

.cal-main a {
    color: var(--light-blue);
}

.cal-main svg {
    fill: var(--light-blue);
}

.cal-datetime {
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    overflow: hidden;
    font-size: 20px;
    margin: 5px auto auto;
}

.cal-datetime .today {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}

.cal-nav {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cal-nav:hover {
    cursor: pointer;
}

.cal-nav:hover svg {
    fill: var(--light-blue);
}

.cal-rwd {
    float: left;
}

.cal-fwd {
    float: right;
}

.cal-nav svg:hover {

}

.cal-days {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
}

.cal-labels {
    margin-top: 25px;
    display: flex;
}

.cal-labels, .cal-days {
    padding-left: 0;
}

.cal-label, .cal-day {
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    height: 14.28%;
    text-align: center;
}

.cal-day {
    border: 1px solid var(--light-green);
}

.cal-day.today .cal-number {
    background: var(--light-blue);
    color: var(--primary-color);
}

.cal-day.disableDay {
    opacity: 0.5;
}

.cal-day.nextMonth, .cal-day.prevMonth {
    opacity: 0.33;
}

.cal-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 100%;
}

.cal-title {
    position: absolute;
    z-index: 5;
    display: none;
    padding: 5px 10px;
    background: var(--primary-color);
    white-space: nowrap;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 12px;
}

.cal-number:hover .cal-title {
    display: block;
}

.cal-title::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--primary-color);
}

.cal-number.eventday {
    font-weight: bold;
    font-size: 10px;
    color: var(--light-blue);
}

.cal-number.eventday:hover {
    cursor: pointer;
    background: var(--primary-color);
}

.today .cal-number.eventday:hover {
    background: var(--light-blue);
}

#header button {
    background-color: #92a1d1;
}

.day {
    color: red;
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0 0 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: #e8faed;
}

.day + #currentDay {
    background-color: #e8f4fa;
}

.event {
    position: relative;
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#modalEvent {
    display: none;
    z-index: 20;
    padding: 25px;
    color: var(--light);
    background-color: var(--light-dark);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    width: 800px;
    height: 800px;
    position: fixed;
    font-size: 35px;
}
.image-description {
    margin-top:10px;
    font-size: 12px;
}

.close-button {
    width: 100px;
    height: 50px;
    margin-top: 25px;
}

@media screen and (max-width: 1024px){
    #modalEvent {
        font-size: 24px;
        width: 600px;
        height: 600px;
        position: fixed;
        bottom:20px;
    }
}

@media screen and (max-width: 767px){
    #modalEvent {
        width: auto;
        height: auto;
        font-size: 14px;
        position: fixed;
    }
}



